@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body {
  font-family: "Open Sans", sans-serif;
}

.welcome-header {
  margin: 83px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 26px;
}

.welcome-header__text {
  width: 70%;
  font-size: 18px;
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  /* margin-bottom: 20px; */
}

/* input에 type=submit가 아니면 아래 속성을 적용해라 */
#login-form input:not([type="submit"]) {
  border-bottom: 1.4px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

/* input에 type=submit이면 아래 속성을 적용해라 */
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 18px;
  font-weight: 550;
  padding: 17px 0px;
  border-radius: 5px;
}

#login-form input:nth-child(3) {
  margin: 45px 0px 15px 0px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 550;
  margin-top: 25px;
}
